.form-floating1{margin-top: 270px;}
.form-floating2{padding:5px 800px;}
.form-floating3{padding:5px 800px;}
.form-floating4{padding:5px 800px;}
.checkbox{padding:5px 800px;}
.form-floating5{padding:5px 800px;}
.form-floating6{padding:5px 800px;}
