/*Home*/
.headerTxt {
    color: rgb(34,139,34);
}
.headerClr {
    background-color: #E2E2E2;
}
.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}