/*==================================================Home==============================================================*/
/*Header text color*/
.headerTxt {
    color: rgb(34,139,34);
}
/*Header background color*/
.headerClr {
    background-color: #E2E2E2;
}
/*First carousel with autoplay====Start*/
.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}